<div class="index___top">
<div class="clover-box">

  <div class="">
    <div class="top_page_memu">
      <div class="menu_2"><%= link_to 'Pua 一覧', posts_path %></div>
      <div class="menu_1"><%= link_to "Log in", new_user_session_path %></div>
      <div class="menu_1"><%= link_to "Sign up", new_user_registration_path %></div>
    </div>
    <img class="img2" src="http://www.webcreatorbox.com/sample/images/flower-yellow.jpg" alt="" />
    <img class="img3" src="http://www.webcreatorbox.com/sample/images/flower-blue.jpg" alt="" />
    <img class="img4" src="http://www.webcreatorbox.com/sample/images/flower-green.jpg" alt="" />
  </div>
</div>
</div>