<main class="main">
  <div class="inner">
    <div class="menu__btn"><%= link_to 'Top', root_path %></div>
      <div class="user_show_name"><%= @nickname %>さんの投稿一覧</div>
        <div class="post__wrapper">
        <%= render partial: 'posts/post', collection: @posts %>
      </div>
    </div>
  </div>
</main>
