
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}
/*トップページ*/
.index_top_page {
  background-color: rgba(141, 92, 127, 0.761);
  height: 100vh;
  padding-top: 50px;
}
.clover-box{
  display: flex;
}
.catchcopy{
  padding-top: 10px;
  text-align: center;
  margin-left: 90px;
  color: lightgrey;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.catchcopy-1{
  font-size: 40px;
  color: whitesmoke;
}
.clover {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: flex-end;
  margin-left: 40px;
}

.top_title{
  width: calc(100%/2);
  margin: 35px 400px 0 200px;
  font-size: 120px;
  font-family: 'Caveat', cursive;
  color:rgba(88, 51, 78, 0.761);
}

.clover img {
  margin: 5px;
  }

.img2 {
  border-radius: 50% 50% 50% 0;
  }
.img3 {
  
  border-radius: 50% 0 50% 50%;
  }
.img4 {
  
  border-radius: 0 50% 50% 50%;
  }
.top_page_memu{
  margin: 28px 15px 11px 33px;
  border-radius: 100% 50% 0 50%;
}
.menu_2{
  padding: 0.4em 1.6em;
  font-size: 25px;
  text-decoration: none;
  user-select: none;
  border: 2px solid #97292944;
  font-family: 'Caveat', cursive;
  margin-bottom: 6px;
  background-color: rgb(250, 237, 177);
}

.menu_1{
  padding: 0.4em 1.6em;
  font-size: 25px;
  text-decoration: none;
  user-select: none;
  border: 2px solid #97292944;
  font-family: 'Caveat', cursive;
  margin-bottom: 6px;
  background-color:  rgb(250, 237, 177);
}
.menu_1 > a{
  color: rgb(60, 40, 172);
}
.menu_2 > a{
  color: rgb(104, 95, 156);
}

.menu_2:hover{
  color: #ffffff;
  background:rgb(184, 107, 133);
}

.menu_1:hover{
  color: #ffffff;
  background:rgb(184, 107, 133);
}

/* ヘッダー */
.font {
  font-family: 'Caveat', cursive;
}
.header {
  background-color: rgb(149, 204, 180);
  padding: 30px 0;
  
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 60px;
  color:whitesmoke;
  font-family: 'Caveat', cursive;
}

.nav__btn{
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: rgb(184, 107, 133);
  text-decoration: none;
  user-select: none;
  border: 2px solid #eeeeee;
  font-family: 'Caveat', cursive;
}
.nav__btn:hover{
  color: #ffffff;
  background:rgb(184, 107, 133);
}
.nav__right{
  height: 10px;
  width: auto;
}
/* フォーム周り */

.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  height: 200px;
  width: 50%;
  font-size: 20px;
}
.pua_field{
  text-align: center;
  margin: 10px 10px 20px 10px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}
.category_field{
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

.field{
  height: 100px;
  width: calc(100vw - 400px);
  margin: 30px auto;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}
.title__field {
  height: 50px;
  width: calc((100vw - 400px)/2);
  font-size: 20px;
}
.actions{
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
}
.sign_field{
  height: 45px;
  width: 400px;
  font-size: 20px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(184, 107, 133);
  border: 1px rgb(184, 107, 133) solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  width: calc(100%/5);
  height: 80px;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.select-box {
  display: flex;
  height: 30px;
  width: 15%;
  justify-content: center;
  margin: auto;
}
.mage__field {
  display: flex;
}
.nickname_field{
  height: 45px;
  width: 300px;
  font-size: 20px;
}
/* メイン */
.main {
  display: block;
  margin-bottom: 200px;
}
.container {
  position: relative;
  min-height: 100%;
}
.page-heading {
  color: rgb(50, 82, 50);
  font-size: 50px;
  margin: 30px 0 28px 0;
  font-family: 'Caveat', cursive;
  border-bottom: solid 5px gray;
  text-align: center;
}
.post__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.post {
  width: calc((100% - 70px) / 4);
  margin: 50px 50px;
}

.post__title {
  display: block;
  margin: auto;
  padding: 5% 0 0 0;
  font-size: 30px;
  font-family: 'M+ Type-1 (general-j) Medium';
  justify-content: center;
  text-decoration: underline rgb(201, 184, 184);
}
.post__body{
  padding:10px;
  height: 100px;
}

.post__category{
  font-size: 20px;
}

.post__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}
/*リボン*/
.ribbon16-wrapper {  
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 10px 0;
  width: 300px;
  background:rgb(211, 125, 129);
  box-sizing: border-box;
  text-align: center;
  justify-items: center;
  }

.ribbon16 {  
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 20px;
  margin: 0;
  padding: 10px 0 7px;
  z-index: 2;
  width: 40px;
  text-align: center;
  color: rgb(184, 107, 133);
  font-size: 13px;
  background:rgb(167, 209, 191);
  border-radius: 2px 0 0 0;
  font-family: 'M+ Type-1 (general-j) Medium';
  }

.ribbon16:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
  border-bottom: solid 6px gray;
  border-right: solid 5px transparent;
}

.ribbon16:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid rgb(167, 209, 191);
}

.close {
  position: absolute;
  top: 65%;
  width: 90%;
  text-align: center;
  background-color: rgb(55, 18, 191);
  transform: skewY(-10deg);
  font-size: 65px;
  color: #eeeeee;
  margin: calc(100%/20);
  font-family: 'Caveat', cursive;
}
/* ユーザー詳細ページ */
.user_show_name{
  text-align: center;
  font-family:'M+ Type-1 (general-j) Medium';
  font-size: 25px;
  color: rgb(149, 204, 180);
  border-bottom: solid 5px rgb(170, 150, 150);
}
.user_like_list{
  margin-top: 30px;
  text-align: center;
  font-family:'M+ Type-1 (general-j) Medium';
  font-size: 25px;
  color: rgba(233, 142, 99, 0.829);
  border-bottom: solid 5px rgb(170, 150, 150);
}
/* 投稿一覧*/
.post_index_main{
  display: block;
  background-color: rgba(218, 211, 235, 0.884);
  height: 100vh;
}

.current_user {
  font-size: 35px;
  margin-right: calc(100%/4);
  color: rgb(184, 107, 56);
  font-family:'M+ Type-1 (general-j) Medium';
  border-bottom: solid 5px rgb(174, 91, 118);
}
.current_user_text{
  margin-left: 20px;
}
/* 詳細ページ */
.post-img-content {
  display: flex;
}

.post-box-img {
  margin: 30px auto 0;
}
.title__show {
  width: calc(100% / 3);
  margin: auto;
  font-size: 20px;
  position: relative;
  padding: 15px;
  background: rgb(201, 108, 139);
  text-align:center;
}

.title__show:before{
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent;
  border-right-color:rgb(174, 91, 118);
}
.title__show:after{
  content: " ";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: transparent;
  border-top-color: rgb(174, 91, 118);
}
.menu__btn{
  padding: 0.4em 1.6em;
  margin: 30px 0 10px 10px;
  font-size: 15px;
  text-decoration: none;
  user-select: none;
  border: 2px solid #eeeeee;
  font-family: 'Caveat', cursive;
  width: 10%;
  text-align: center;
}
.menu__btn:hover{
  color: #ffffff;
  background:rgb(184, 107, 133);
}
.delete__btn{
  padding: 0.4em 1.6em;
  margin: 30px 0 10px 10px;
  font-size: 15px;
  text-decoration: none;
  user-select: none;
  border: 2px solid #eeeeee;
  font-family: 'Caveat', cursive;
  width: 10%;
  text-align: center;
}
.delete__btn:hover{
  color: #ffffff;
  background:rgb(104, 71, 82);
}
.menu {
  display: flex;
  margin-bottom: 15px;
}

.note2{
  color: #696969;
  margin: 2em 2em;
  font-weight: bold;
  border: solid 1px #e6e6e6;
  padding:  2em 2em 1em;
  box-shadow:2px 2px 0 rgba(0,0,0,.1);
}
.sen2{
  background-color: #fff;
  background-image:
  linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #646464 100%);
  background-size: 100% 2em;
  line-height: 2em;
  padding: 2em 1em 0.2em 1em;
  width:100%;
}
.post_text {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.post_user_name {
  width: 10%;
  font-size: 15px;
  justify-content: end;
  margin-left: auto;
}
.user_name {
  color: rgb(174, 91, 118);
}
.category_name {
  padding: 0.4em 1.6em;
    font-size: 20px;
    color: rgb(184, 107, 133);
    text-decoration: none;
    user-select: none;
    border: 2px solid rgb(119, 67, 67);
    font-family: 'Caveat', cursive;
    border-radius: 30%;
}
.category_name:hover{
  color: #ffffff;
  background:rgb(184, 107, 133);
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 140px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

/*.footer {
 
}
.copyright {
  
}*/
.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}
/*like*/
.like_bud_box{
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  
}
.like_count{
  font-size: 15px;
}
.like{
  color: #8899a6;
  margin-right: 40px;
}
.unlike{
  color: #c75074;
  margin-right: 40px;
}
.fa-heart{
  size: 50px;
}
.thumbs-down{
  size:50px;
}
.unbud{
  color: #1e0677;
  margin-left: 40px;
  margin-bottom: 15px;
}
.bud {
  color: #8899a6;
  margin-left: 40px;
  margin-bottom: 15px;
}

.like_bud_field{
  display: flex;
}
.like_count{
  margin-left: 50px;
}
.like_count_font{
  font-size: 20px;
  background: linear-gradient(transparent 70%,rgb(184, 107, 133));
}
/*バッドRethink*/
.bud_rethink{
  text-align: center;
}
.bud_alert {
  padding-top: 50px;
}
.five_alert{
  margin-top: 30px;
}
.bud_note{
  margin: 50px 0 80px 0;
}
.bud__alert{
  font-size: 30px;
  background: linear-gradient(transparent 60%,rgb(184, 114, 114) 70%);
}
.note_text{
  color: #ffffff;
  font-size: 20px;
}
.bud_count{
  margin-top: 30px;
  font-size: 20px;
}
.alert_font{
  font-size: 40px;
  background: linear-gradient(transparent 60%,white 70%);
}
.bud__btn{
  padding: 0.4em 1.6em;
  font-size: 25px;
  color: rgb(250, 243, 243);
  text-decoration: none;
  user-select: none;
  border: 2px solid #eeeeee;
  
}
.bud__btn:hover{
  color: #ffffff;
  background:rgb(187, 75, 75);
}
.bud_box{
  margin-right: 60px;
  text-align: end;
}
.bud_menu__btn{
  float: left;
  padding: 0.4em 1.6em;
  margin-left: 200px;
  font-size: 20px;
  text-decoration: none;
  user-select: none;
  border: 2px solid #eeeeee;
  font-family: 'Caveat', cursive;
}
.bud_menu__btn:hover{
  color: #ffffff;
  background:rgb(184, 107, 133);
}
.index__top{
  background-color: rgba(141, 92, 127, 0.761);
  height: 100vh;
  padding-top: 100px;
}



/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
 @media (max-width: 812px) {
  .header{
    padding: 5px;
  }
  .post_index_main{
    height: 100vh;
    width: 100vw;
  }
  
}
/* iPad */

@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .post_index_main{
    width: 100vw;
    height: 100vh;
  }
  .post{
    width: calc((100% - 70px) / 4);
  }
  
  .post__wrapper{
    width: 90%;
    justify-content:space-around;
  }
  .header{
    height: calc(100vw/4);
    display: flex;
    align-items: center;
  }
  .title{
    font-size: 70px;
  }
  .page-heading{
    margin-top: 10px;
    font-size: 50px;
  }
  .current_user_text{
    font-size: 35px;
  }
  
 }