<div class="index__top">
  <div class="bud_rethink">
    <p class="bud_alert"><span class="alert_font" >本当にBudを押しますか？</span></p>

    <h2 class="bud__alert">5つBudがつくと投稿がcloseします。<h2>

    <%= link_to 'budを押す', post_buds_path(@post), method: :POST ,class: :bud__btn%>
    <div class="bud_count"><span class="bud_count_font">この投稿のBud数 : </span><%= @post.buds.count %></div>
  </div>
</div>